<!DOCTYPE html>
<html>
<head>
    <title>担保关系</title>
    <link rel="stylesheet" href="http://cdn.bootcss.com/twitter-bootstrap/3.0.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://cdn.bootcss.com/twitter-bootstrap/3.0.3/css/bootstrap-theme.min.css">
</head>
<body>
<div class="container">
    <h2>担保关系（待审核）</h2>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>担保人</th>
            <th>被担保人</th>
            <th>通过</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>1</td>
            <td><a href="/nimda/user/10">刘长通</a></td>
            <td><a href="/nimda/user/11">路少德</a></td>
            <td><a class="btn btn-primary" href="/nimda/guarantee_check/1">通过</a></td>
        </tr>
        </tbody>
        <tbody>
        <tr>
            <td>2</td>
            <td><a href="/nimda/user/10">刘长通</a></td>
            <td><a href="/nimda/user/11">路少德</a></td>
            <td><a class="btn btn-primary" href="/nimda/guarantee_check/1">通过</a></td>
        </tr>
        </tbody>
        <tbody>
        <tr>
            <td>3</td>
            <td><a href="/nimda/user/10">刘长通</a></td>
            <td><a href="/nimda/user/11">路少德</a></td>
            <td><a class="btn btn-primary" href="/nimda/guarantee_check/1">通过</a></td>
        </tr>
        </tbody>
        <tbody>
        <tr>
            <td>4</td>
            <td><a href="/nimda/user/10">刘长通</a></td>
            <td><a href="/nimda/user/11">路少德</a></td>
            <td><a class="btn btn-primary" href="/nimda/guarantee_check/1">通过</a></td>
        </tr>
        </tbody>
    </table>
    <br />
    <h2>担保关系</h2>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>担保人</th>
            <th>被担保人</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>1</td>
            <td><a href="/nimda/user/10">刘长通</a></td>
            <td><a href="/nimda/user/11">路少德</a></td>
        </tr>
        </tbody>
        <tbody>
        <tr>
            <td>2</td>
            <td><a href="/nimda/user/10">刘长通</a></td>
            <td><a href="/nimda/user/11">路少德</a></td>
        </tr>
        </tbody>
        <tbody>
        <tr>
            <td>3</td>
            <td><a href="/nimda/user/10">刘长通</a></td>
            <td><a href="/nimda/user/11">路少德</a></td>
        </tr>
        </tbody>
        <tbody>
        <tr>
            <td>4</td>
            <td><a href="/nimda/user/10">刘长通</a></td>
            <td><a href="/nimda/user/11">路少德</a></td>
        </tr>
        </tbody>
    </table>
</div> <!-- /container -->
<script src="http://cdn.bootcss.com/jquery/1.10.2/jquery.min.js"></script>
<script src="http://cdn.bootcss.com/twitter-bootstrap/3.0.3/js/bootstrap.min.js"></script>
</body>
</html>
