<!DOCTYPE html>
<html>
<head>
    <title>担保关系</title>
    <link rel="stylesheet" href="http://cdn.bootcss.com/twitter-bootstrap/3.0.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://cdn.bootcss.com/twitter-bootstrap/3.0.3/css/bootstrap-theme.min.css">
    <style>
        .container table tr td {
            padding-top: 3px;
            padding-bottom: 3px;
        }
    </style>
</head>
<body>
<a href="/nimda/index">返回首页</a>
<div class="container">
    <h4>担保关系</h4>
    <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
            第{{ page }}页<span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
            {% for x in range(1, page_number + 1) %}
            <li><a href="/nimda/guarantee/{{ x }}">第{{ x }}页</a></li>
            {% end %}
        </ul>
    </div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>担保人</th>
            <th>被担保人</th>
        </tr>
        </thead>
        <tbody>
        {% for item in guarantee %}
        <tr>
            <td>{{ item['guarantee_id'] }}</td>
            <td><a href="/nimda/user/{{ item['guarantor_id'] }}">{{ item['guarantor_name'] }}</a></td>
            <td><a href="/nimda/user/{{ item['warrantee_id'] }}">{{ item['warrantee_name'] }}</a></td>
        </tr>
        {% end %}
        </tbody>
    </table>
    <ul class="pager">
        {% if previous_page == 0 %}
        <li class="disabled"><a>&larr; Previous</a></li>
        {% else %}
        <li class=""><a href="/nimda/guarantee/{{ previous_page }}">&larr; Previous</a></li>
        {% end %}
        {% if next_page == 0 %}
        <li class="disabled"><a>&rarr; Next</a></li>
        {% else %}
        <li class=""><a href="/nimda/guarantee/{{ next_page }}">&rarr; Next</a></li>
        {% end %}
    </ul>
</div> <!-- /container -->
<script src="http://cdn.bootcss.com/jquery/1.10.2/jquery.min.js"></script>
<script src="http://cdn.bootcss.com/twitter-bootstrap/3.0.3/js/bootstrap.min.js"></script>
</body>
</html>
