<!DOCTYPE html>
<html>
<head>
    <title>首页</title>
    <link rel="stylesheet" href="http://cdn.bootcss.com/twitter-bootstrap/3.0.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://cdn.bootcss.com/twitter-bootstrap/3.0.3/css/bootstrap-theme.min.css">
    <style>
        .container {
            margin-top: 200px;
        }
    </style>
</head>
<body>
<div class="container">
    <a class="btn btn-primary" href="/nimda/all_user/1">所有用户</a>
    <a class="btn btn-primary" href="/nimda/loan_unchecked">借款请求（待审核）</a>
    <a class="btn btn-primary" href="/nimda/loan">借款（正在进行）</a>
    <a class="btn btn-primary" href="/nimda/loan">借款（已完成）</a>
    <a class="btn btn-primary" href="/nimda/pay">还款请求</a>
    <a class="btn btn-primary" href="/nimda/guarantee">担保关系</a>
    <a class="btn btn-primary" href="/nimda/guarantee_unchecked">担保关系申请</a>
</div> <!-- /container -->
<script src="http://cdn.bootcss.com/jquery/1.10.2/jquery.min.js"></script>
<script src="http://cdn.bootcss.com/twitter-bootstrap/3.0.3/js/bootstrap.min.js"></script>
</body>
</html>
