<!DOCTYPE html>
<html>
<head>
    <title>贷款</title>
    <link rel="stylesheet" href="http://cdn.bootcss.com/twitter-bootstrap/3.0.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://cdn.bootcss.com/twitter-bootstrap/3.0.3/css/bootstrap-theme.min.css">
</head>
<body>
<div class="container">
    <h2>贷款请求（待审核）</h2>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>贷款ID</th>
            <th>用户</th>
            <th>担保人1</th>
            <th>担保人2</th>
            <th>贷款数额</th>
            <th>待还数额</th>
            <th>贷款日期</th>
            <th>还款日期</th>
            <th>审核</th>
        </tr>
        </thead>
        <tbody>
        {% for loan in unchecked_loans %}
        <tr>
            <td>{{ loan['loan_id'] }}</td>
            <td><a href="/nimda/user/{{ loan['user_id'] }}">{{ loan['user_id'] }}</a></td>
            <td><a href="/nimda/user/{{ loan['guarantor1'] }}">{{ loan['guarantor1_name'] }}</a></td>
            <td><a href="/nimda/user/{{ loan['guarantor2'] }}">{{ loan['guarantor2_name'] }}</a></td>
            <td>{{ loan['loan_amount'] }}</td>
            <td>{{ loan['remain_amount'] }}</td>
            <td>{{ loan['loan_date'] }}</td>
            <td>{{ loan['due_date'] }}</td>
            <td><a class="btn btn-primary" href="/nimda/loan_check/{{ loan['loan_id'] }}">通过</a></td>
        </tr>
        {% end %}
        </tbody>
    </table>
    <br />
    <h2>贷款（正在进行）</h2>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>贷款ID</th>
            <th>用户</th>
            <th>担保人1</th>
            <th>担保人2</th>
            <th>贷款数额</th>
            <th>待还数额</th>
            <th>贷款日期</th>
            <th>还款日期</th>
            <th>分期情况</th>
            <th>逾期情况</th>
        </tr>
        </thead>
        <tbody>
        {% for loan in loans %}
        <tr>
            <td>{{ loan['loan_id'] }}</td>
            <td><a href="/nimda/user/{{ loan['user_id'] }}">{{ loan['user_id'] }}</a></td>
            <td><a href="/nimda/user/{{ loan['guarantor1'] }}">{{ loan['guarantor1_name'] }}</a></td>
            <td><a href="/nimda/user/{{ loan['guarantor2'] }}">{{ loan['guarantor2_name'] }}</a></td>
            <td>{{ loan['loan_amount'] }}</td>
            <td>{{ loan['remain_amount'] }}</td>
            <td>{{ loan['loan_date'] }}</td>
            <td>{{ loan['due_date'] }}</td>
            {% if loan['split_status'] != 0 %}
            <td>分期{{ loan['split_status']['total_time'] }}次，间隔{{ loan['split_status']['interval_due'] }}周</td>
            {% else %}
            <td>分期{{ loan['split_status'] }}次</td>
            {% end %}
            <td>逾期{{ loan['due_status'] }}次</td>
        </tr>
        {% end %}
        </tbody>
    </table>
    <br />
    <h2>贷款（已完成）</h2>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>贷款ID</th>
            <th>用户</th>
            <th>担保人1</th>
            <th>担保人2</th>
            <th>贷款数额</th>
            <th>贷款日期</th>
            <th>还款日期</th>
            <th>分期情况</th>
            <th>逾期情况</th>
        </tr>
        </thead>
        <tbody>
        {% for loan in complete_loans %}
        <tr>
            <td>{{ loan['loan_id'] }}</td>
            <td><a href="/nimda/user/{{ loan['user_id'] }}">{{ loan['user_id'] }}</a></td>
            <td><a href="/nimda/user/{{ loan['guarantor1'] }}">{{ loan['guarantor1_name'] }}</a></td>
            <td><a href="/nimda/user/{{ loan['guarantor2'] }}">{{ loan['guarantor2_name'] }}</a></td>
            <td>{{ loan['loan_amount'] }}</td>
            <td>{{ loan['loan_date'] }}</td>
            <td>{{ loan['due_date'] }}</td>
            <td>分期{{ loan['split_status'] }}次</td>
            <td>逾期{{ loan['due_status'] }}次</td>
        </tr>
        {% end %}
        </tbody>
    </table>
</div> <!-- /container -->
<script src="http://cdn.bootcss.com/jquery/1.10.2/jquery.min.js"></script>
<script src="http://cdn.bootcss.com/twitter-bootstrap/3.0.3/js/bootstrap.min.js"></script>
</body>
</html>
