<!DOCTYPE html>
<html>
<head>
    <title>贷款请求（待审核）</title>
    <link rel="stylesheet" href="http://cdn.bootcss.com/twitter-bootstrap/3.0.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://cdn.bootcss.com/twitter-bootstrap/3.0.3/css/bootstrap-theme.min.css">
    <style>
        .container table tr td {
            padding-top: 3px;
            padding-bottom: 3px;
        }
    </style>
</head>
<body>
<a href="/nimda/index">返回首页</a>
<div class="container">
    <h4>贷款请求（待审核）</h4>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>贷款ID</th>
            <th>用户</th>
            <th>担保人1</th>
            <th>担保人2</th>
            <th>贷款数额</th>
            <th>待还数额</th>
            <th>贷款日期</th>
            <th>还款日期</th>
            <th>审核</th>
        </tr>
        </thead>
        <tbody>
        {% for loan in unchecked_loans %}
        <tr>
            <td>{{ loan['loan_id'] }}</td>
            <td><a href="/nimda/user/{{ loan['user_id'] }}">{{ loan['real_name'] }}</a></td>
            <td><a href="/nimda/user/{{ loan['guarantor1'] }}">{{ loan['guarantor1_name'] }}</a></td>
            <td><a href="/nimda/user/{{ loan['guarantor2'] }}">{{ loan['guarantor2_name'] }}</a></td>
            <td>{{ loan['loan_amount'] }}</td>
            <td>{{ loan['remain_amount'] }}</td>
            <td>{{ loan['loan_date'] }}</td>
            <td>{{ loan['due_date'] }}</td>
            <td><a class="btn btn-primary" href="/nimda/loan_check/{{ loan['loan_id'] }}">通过</a></td>
        </tr>
        {% end %}
        </tbody>
    </table>
</div> <!-- /container -->
<script src="http://cdn.bootcss.com/jquery/1.10.2/jquery.min.js"></script>
<script src="http://cdn.bootcss.com/twitter-bootstrap/3.0.3/js/bootstrap.min.js"></script>
</body>
</html>
