<!DOCTYPE html>
<html>
<head>
    <title>贷款</title>
    <link rel="stylesheet" href="http://cdn.bootcss.com/twitter-bootstrap/3.0.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://cdn.bootcss.com/twitter-bootstrap/3.0.3/css/bootstrap-theme.min.css">
    <style>
        .container table tr td {
            padding-top: 3px;
            padding-bottom: 3px;
        }
    </style>
</head>
<body>
<a href="/nimda/index">返回首页</a>
<div class="container">
    <h4>贷款（正在进行）</h4>
    <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
            第{{ page }}页<span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
            {% for x in range(1, page_number + 1) %}
            <li><a href="/nimda/loan/{{ x }}">第{{ x }}页</a></li>
            {% end %}
        </ul>
    </div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>贷款ID</th>
            <th>用户</th>
            <th>担保人1</th>
            <th>担保人2</th>
            <th>贷款数额</th>
            <th>待还数额</th>
            <th>贷款日期</th>
            <th>还款日期</th>
            <th>分期情况</th>
            <th>逾期情况</th>
            <th>提醒还款</th>
        </tr>
        </thead>
        <tbody>
        {% for loan in loans %}
        <tr>
            <td>{{ loan['loan_id'] }}</td>
            <td><a href="/nimda/user/{{ loan['user_id'] }}">{{ loan['real_name'] }}</a></td>
            <td><a href="/nimda/user/{{ loan['guarantor1'] }}">{{ loan['guarantor1_name'] }}</a></td>
            <td><a href="/nimda/user/{{ loan['guarantor2'] }}">{{ loan['guarantor2_name'] }}</a></td>
            <td>{{ loan['loan_amount'] }}</td>
            <td>{{ loan['remain_amount'] }}</td>
            <td>{{ loan['loan_date'] }}</td>
            <td>{{ loan['due_date'] }}</td>
            {% if loan['split_status'] != 0 %}
            <td>分期{{ loan['split_status']['total_time'] }}次，间隔{{ loan['split_status']['interval_due'] }}周</td>
            {% else %}
            <td>分期{{ loan['split_status'] }}次</td>
            {% end %}
            <td>逾期{{ loan['due_status'] }}次</td>
            <td><a href="/nimda/push/{{ loan['user_id'] }}">提醒</a></td>
        </tr>
        {% end %}
        </tbody>
    </table>
    <ul class="pager">
        {% if previous_page == 0 %}
        <li class="disabled"><a>&larr; Previous</a></li>
        {% else %}
        <li class=""><a href="/nimda/loan/{{ previous_page }}">&larr; Previous</a></li>
        {% end %}
        {% if next_page == 0 %}
        <li class="disabled"><a>&rarr; Next</a></li>
        {% else %}
        <li class=""><a href="/nimda/loan/{{ next_page }}">&rarr; Next</a></li>
        {% end %}
    </ul>
</div> <!-- /container -->
<script src="http://cdn.bootcss.com/jquery/1.10.2/jquery.min.js"></script>
<script src="http://cdn.bootcss.com/twitter-bootstrap/3.0.3/js/bootstrap.min.js"></script>
</body>
</html>
