<!DOCTYPE html>
<html>
<head>
    <title>用户</title>
    <link rel="stylesheet" href="http://cdn.bootcss.com/twitter-bootstrap/3.0.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://cdn.bootcss.com/twitter-bootstrap/3.0.3/css/bootstrap-theme.min.css">
    <style>
        .container {
            margin-top: 100px;
        }
    </style>
</head>
<body>
<div class="container">
    <img width="100" src="/static/images/{{ user_info['avatar'] }}" alt="avatar"/>
    <table class="table table-striped">
        <tbody>
        <tr>
            <td>用户名</td>
            <td>{{ user_info['username'] }}</td>
        </tr>
        <tr>
            <td>电话</td>
            <td>{{ user_info['phone'] }}</td>
        </tr>
        <tr>
            <td>真实姓名</td>
            <td>{{ user_info['real_name'] }}</td>
        </tr>
        <tr>
            <td>银行卡号</td>
            <td>{{ user_info['bank_number'] }}</td>
        </tr>
        <tr>
            <td>支付宝账号</td>
            <td>{{ user_info['alipay_number'] }}</td>
        </tr>
        <tr>
            <td>身份证号</td>
            <td>{{ user_info['identify_number'] }}</td>
        </tr>
        <tr>
            <td>学校</td>
            <td>{{ user_info['school'] }}</td>
        </tr>
        <tr>
            <td>学院</td>
            <td>{{ user_info['department'] }}</td>
        </tr>
        <tr>
            <td>专业</td>
            <td>{{ user_info['major'] }}</td>
        </tr>
        <tr>
            <td>宿舍</td>
            <td>{{ user_info['dorm'] }}</td>
        </tr>
        <tr>
            <td>学号</td>
            <td>{{ user_info['student_id'] }}</td>
        </tr>
        </tbody>
    </table>
    <a href="/static/images/{{ user_info['pic1'] }}"><img width="500" src="/static/images/{{ user_info['pic1'] }}" alt="pic1"/></a>
    <a href="/static/images/{{ user_info['pic2'] }}"><img width="500" src="/static/images/{{ user_info['pic2'] }}" alt="pic2"/></a>
    <a href="/static/images/{{ user_info['pic3'] }}"><img width="500" src="/static/images/{{ user_info['pic3'] }}" alt="pic3"/></a>
    <a href="/static/images/{{ user_info['pic4'] }}"><img width="500" src="/static/images/{{ user_info['pic4'] }}" alt="pic4"/></a>
    <br />
    <h2>贷款</h2>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>贷款ID</th>
            <th>担保人1</th>
            <th>担保人2</th>
            <th>贷款数额</th>
            <th>待还数额</th>
            <th>贷款日期</th>
            <th>还款日期</th>
            <th>分期情况</th>
            <th>逾期情况</th>
            <th>状态</th>
        </tr>
        </thead>
        <tbody>
        {% for loan in loans %}
        <tr>
            <td>{{ loan['loan_id'] }}</td>
            <td><a href="/nimda/user/{{ loan['guarantor1'] }}">{{ loan['guarantor1_name'] }}</a></td>
            <td><a href="/nimda/user/{{ loan['guarantor2'] }}">{{ loan['guarantor1_name'] }}</a></td>
            <td>{{ loan['loan_amount'] }}</td>
            <td>{{ loan['remain_amount'] }}</td>
            <td>{{ loan['loan_date'] }}</td>
            <td>{{ loan['due_date'] }}</td>
            <td>分期{{ loan['split_status'] }}次</td>
            <td>逾期{{ loan['due_status'] }}次</td>
            <td>{{ loan['check_status'] }}</td>
        </tr>
        {% end %}
        </tbody>
    </table>
</div> <!-- /container -->
<script src="http://cdn.bootcss.com/jquery/1.10.2/jquery.min.js"></script>
<script src="http://cdn.bootcss.com/twitter-bootstrap/3.0.3/js/bootstrap.min.js"></script>
</body>
</html>
