<!DOCTYPE html>
<html>
<head>
    <title>用户</title>
    <link rel="stylesheet" href="http://cdn.bootcss.com/twitter-bootstrap/3.0.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://cdn.bootcss.com/twitter-bootstrap/3.0.3/css/bootstrap-theme.min.css">
    <style>
        .container {
            margin-top: 100px;
        }
    </style>
</head>
<body>
<div class="container">
    <img width="100" src="/static/images/139499223849.png" alt="avatar"/>
    <table class="table table-striped">
        <tbody>
        <tr>
            <td>用户名</td>
            <td>sdlu</td>
        </tr>
        <tr>
            <td>真实姓名</td>
            <td>路少德</td>
        </tr>
        <tr>
            <td>银行卡号</td>
            <td>122334455343</td>
        </tr>
        <tr>
            <td>支付宝账号</td>
            <td>11@ht.com</td>
        </tr>
        </tbody>
    </table>
    <a href="/static/images/139499223849.png"><img width="500" src="/static/images/139499223849.png" alt="pic1"/></a>
    <a href="/static/images/139499223849.png"><img width="500" src="/static/images/139499223849.png" alt="pic1"/></a>
    <a href="/static/images/139499223849.png"><img width="500" src="/static/images/139499223849.png" alt="pic1"/></a>
    <a href="/static/images/139499223849.png"><img width="500" src="/static/images/139499223849.png" alt="pic1"/></a>
</div> <!-- /container -->
<script src="http://cdn.bootcss.com/jquery/1.10.2/jquery.min.js"></script>
<script src="http://cdn.bootcss.com/twitter-bootstrap/3.0.3/js/bootstrap.min.js"></script>
</body>
</html>
