<!DOCTYPE html>
<html>
<head>
    <title>用户</title>
    <link rel="stylesheet" href="http://cdn.bootcss.com/twitter-bootstrap/3.0.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://cdn.bootcss.com/twitter-bootstrap/3.0.3/css/bootstrap-theme.min.css">
    <style>
        .container {
            margin-top: 100px;
        }
    </style>
</head>
<body>
<div class="container">
    <img width="100" src="/static/images/139499223849.png" alt="avatar"/>
    <table class="table table-striped">
        <tbody>
        <tr>
            <td>用户名</td>
            <td>sdlu</td>
        </tr>
        <tr>
            <td>真实姓名</td>
            <td>路少德</td>
        </tr>
        <tr>
            <td>银行卡号</td>
            <td>122334455343</td>
        </tr>
        <tr>
            <td>支付宝账号</td>
            <td>11@ht.com</td>
        </tr>
        </tbody>
    </table>
    <a href="/static/images/139499223849.png"><img width="500" src="/static/images/139499223849.png" alt="pic1"/></a>
    <a href="/static/images/139499223849.png"><img width="500" src="/static/images/139499223849.png" alt="pic1"/></a>
    <a href="/static/images/139499223849.png"><img width="500" src="/static/images/139499223849.png" alt="pic1"/></a>
    <a href="/static/images/139499223849.png"><img width="500" src="/static/images/139499223849.png" alt="pic1"/></a>
    <br />
    <h2>贷款</h2>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>贷款ID</th>
            <th>用户</th>
            <th>担保人1</th>
            <th>担保人2</th>
            <th>贷款数额</th>
            <th>贷款日期</th>
            <th>还款日期</th>
            <th>分期情况</th>
            <th>逾期情况</th>
            <th>状态</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>4</td>
            <td><a href="/nimda/user/10">刘长通</a></td>
            <td><a href="/nimda/user/11">路少德</a></td>
            <td><a href="#">无</a></td>
            <td>100</td>
            <td>2014-03-30</td>
            <td>2014-04-30</td>
            <td>分期0次</td>
            <td>逾期0次</td>
            <td>待审核</td>
        </tr>
        <tr>
            <td>3</td>
            <td><a href="/nimda/user/10">刘长通</a></td>
            <td><a href="/nimda/user/11">路少德</a></td>
            <td><a href="#">无</a></td>
            <td>100</td>
            <td>2014-03-30</td>
            <td>2014-04-30</td>
            <td>分期0次</td>
            <td>逾期2次</td>
            <td>正在进行</td>
        </tr>
        <tr>
            <td>2</td>
            <td><a href="/nimda/user/10">刘长通</a></td>
            <td><a href="/nimda/user/11">路少德</a></td>
            <td><a href="#">无</a></td>
            <td>100</td>
            <td>2014-03-30</td>
            <td>2014-04-30</td>
            <td>分期0次</td>
            <td>逾期2次</td>
            <td>已完成</td>
        </tr>
        </tbody>
    </table>
</div> <!-- /container -->
<script src="http://cdn.bootcss.com/jquery/1.10.2/jquery.min.js"></script>
<script src="http://cdn.bootcss.com/twitter-bootstrap/3.0.3/js/bootstrap.min.js"></script>
</body>
</html>
